<div class="container p-4">
    <div class="col-md-12" style="margin-bottom: 5px;">
        <div class="card text-center"
            style="background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');background-color: #f7f7f7;">
            <h3 class="card-title text-uppercase" style="color: rgb(44, 142, 253);">
                Perfil
            </h3>
        </div>


        <div class="card  mx-auto m-2"
            style="width: 50rem; background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');background-color: #f7f7f7;">
            <div>
                <h5
                    style="background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');background-color: #f7f7f7;">
                    Información Personal</h5>
            </div>
            <div class="m-2">
                <form action="/links/edit-profile" method="post">
                    <div class="row">
                        <div class="row panel-content col-6">
                            <div class="columns content-div">
                                <label for="exampleInputPassword1" class="form-label">Email</label>

                                <input class="form-control input-form-gray" disabled="" type="text" id="inputEmail"
                                    placeholder="Email" name="plEmail" value="{{user.email}}">
                                <div class="form-error-message plEmail"></div>
                            </div>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="exampleInputPassword1" class="form-label">Nombres Completos</label>
                            <input type="text" value="{{user.name}}" name="name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="exampleInputPassword1" class="form-label">Cedula/Pasaporte</label>
                            <input type="number" value="{{user.dni}}" name="dni" class="form-control" required>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="exampleInputPassword1" class="form-label">Número de Celular</label>
                            <input type="number" value="{{user.phone}}" name="phone" class="form-control" required>
                        </div>

                    </div>
                    <div class="row">

                        <div class="mb-3 col-6">
                            <label for="exampleInputPassword1" class="form-label">País</label>
                            <select id="country" name="country" class="btn btn-secondary col-12" required>
                                <option style="Display: none" selected="">{{user.country}}</option>
                                <option value="Afganistán">Afganistán</option>
                                <option value="Albania">Albania</option>
                                <option value="Alemania">Alemania</option>
                                <option value="Andorra">Andorra</option>
                                <option value="Angola">Angola</option>
                                <option value="Anguila">Anguila</option>
                                <option value="Antigua y Barbuda">Antigua y Barbuda</option>
                                <option value="Antillas Holandesas">Antillas Holandesas</option>
                                <option value="Antártida">Antártida</option>
                                <option value="Arabia Saudita">Arabia Saudita</option>
                                <option value="Argelia">Argelia</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Armenia">Armenia</option>
                                <option value="Aruba">Aruba</option>
                                <option value="Australia">Australia</option>
                                <option value="Austria">Austria</option>
                                <option value="Azerbaiyán">Azerbaiyán</option>
                                <option value="Bahamas">Bahamas</option>
                                <option value="Bahréin">Bahréin</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Barbados">Barbados</option>
                                <option value="Belice">Belice</option>
                                <option value="Benin">Benin</option>
                                <option value="Bermudas">Bermudas</option>
                                <option value="Bielorrusia">Bielorrusia</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Bosnia Herzegovina">Bosnia Herzegovina</option>
                                <option value="Botswana">Botswana</option>
                                <option value="Bouvet, isla">Bouvet, isla</option>
                                <option value="Brasil">Brasil</option>
                                <option value="Brunei">Brunei</option>
                                <option value="Bulgaria">Bulgaria</option>
                                <option value="Burkina Faso">Burkina Faso</option>
                                <option value="Burundi">Burundi</option>
                                <option value="Bután">Bután</option>
                                <option value="Bélgica">Bélgica</option>
                                <option value="Cabo Verde">Cabo Verde</option>
                                <option value="Camboya">Camboya</option>
                                <option value="Camerún">Camerún</option>
                                <option value="Canadá">Canadá</option>
                                <option value="Chad">Chad</option>
                                <option value="Chile">Chile</option>
                                <option value="Chipre">Chipre</option>
                                <option value="Cita">Cita</option>
                                <option value="Cocos, Islas">Cocos, Islas</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Comoras">Comoras</option>
                                <option value="Congo, República Democrática del (antes Zaire)">Congo, República Democrática del (antes Zaire)</option>
                                <option value="Congo, República de">Congo, República de</option>
                                <option value="Corea del Sur">Corea del Sur</option>
                                <option value="Corea, República Democrática de (Corea del Norte)">Corea, República Democrática de (Corea del Norte)</option>
                                <option value="Costa Rica">Costa Rica</option>
                                <option value="Costa de Marfil">Costa de Marfil</option>
                                <option value="Croacia">Croacia</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Dinamarca">Dinamarca</option>
                                <option value="Djibouti">Djibouti</option>
                                <option value="Dominica">Dominica</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="Egipto">Egipto</option>
                                <option value="El Salvador">El Salvador</option>
                                <option value="Emiratos Árabes Unidos">Emiratos Árabes Unidos</option>
                                <option value="Eritrea">Eritrea</option>
                                <option value="Eslovaquia">Eslovaquia</option>
                                <option value="Eslovenia">Eslovenia</option>
                                <option value="España">España</option>
                                <option value="Estados Unidos">Estados Unidos</option>
                                <option value="Estonia">Estonia</option>
                                <option value="Etiopía">Etiopía</option>
                                <option value="FJ">Fiji</option>
                                <option value="PH">Filipinas</option>
                                <option value="FI">Finlandia</option>
                                <option value="FR">Francia</option>
                                <option value="GA">Gabón</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="GS">Georgia del Sur y las Islas Sandwich del Sur</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GD">Granada</option>
                                <option value="GR">Grecia</option>
                                <option value="GL">Groenlandia</option>
                                <option value="GP">Guadalupe</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GY">Guayana</option>
                                <option value="GG">Guernsey</option>
                                <option value="GF">Guiana Francesa</option>
                                <option value="GW">Guinea Bissau</option>
                                <option value="GQ">Guinea Ecuatorial</option>
                                <option value="GN">Guinea-Conakry</option>
                                <option value="HT">Haití</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong</option>
                                <option value="HU">Hungría</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="TG">Ir</option>
                                <option value="IQ">Irak</option>
                                <option value="IE">Irlanda</option>
                                <option value="IR">Irán</option>
                                <option value="NF">Isla Norfolk</option>
                                <option value="CX">Isla de Navidad</option>
                                <option value="IM">Isla del hombre</option>
                                <option value="IS">Islandia</option>
                                <option value="AX">Islas Aland</option>
                                <option value="KY">Islas Caimán</option>
                                <option value="CK">Islas Cook</option>
                                <option value="FO">Islas Faroe</option>
                                <option value="HM">Islas Heard y McDonald, Island</option>
                                <option value="MH">Islas Marshall</option>
                                <option value="SB">Islas Salomón</option>
                                <option value="VG">Islas Vírgenes Británicas</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italia</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japón</option>
                                <option value="JE">Jersey</option>
                                <option value="JO">Jordán</option>
                                <option value="QA">Katar</option>
                                <option value="KZ">Kazajstán</option>
                                <option value="KE">Kenia</option>
                                <option value="KG">Kirguistán</option>
                                <option value="KI">Kiribati</option>
                                <option value="KW">Kuwait</option>
                                <option value="LA">Laos</option>
                                <option value="LS">Lesoto</option>
                                <option value="LV">Letonia</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libia</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lituania</option>
                                <option value="LU">Luxemburgo</option>
                                <option value="LB">Líbano</option>
                                <option value="MO">Macao</option>
                                <option value="MK">Macedonia, República de</option>
                                <option value="MG">Madagascar</option>
                                <option value="MY">Malasia</option>
                                <option value="MW">Malawi</option>
                                <option value="MV">Maldivas</option>
                                <option value="MT">Malta</option>
                                <option value="FK">Malvinas, Islas (Falkland)</option>
                                <option value="ML">Malí</option>
                                <option value="MP">Marianas del Norte</option>
                                <option value="MA">Marruecos</option>
                                <option value="MQ">Martinica</option>
                                <option value="MU">Mauricio</option>
                                <option value="MR">Mauritania</option>
                                <option value="YT">Mayotte</option>
                                <option value="UM">Menores distantes de los Estados Unidos, islas</option>
                                <option value="FM">Micronesia, Estados Federados de</option>
                                <option value="MD">Moldavia</option>
                                <option value="MN">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar (antes Birmania)</option>
                                <option value="MX">México</option>
                                <option value="MC">Mónaco</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NO">Noruega</option>
                                <option value="NC">Nueva Caledonia</option>
                                <option value="NZ">Nueva Zelanda (Aotearoa)</option>
                                <option value="NE">Níger</option>
                                <option value="OM">Omán</option>
                                <option value="PK">Pakistán</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestina</option>
                                <option value="PA">Panamá</option>
                                <option value="PG">Papúa Nueva Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="TR">Pavo</option>
                                <option value="NL">Países Bajos</option>
                                <option value="PE">Perú</option>
                                <option value="PN">Pitcairn</option>
                                <option value="PF">Polinesio francés</option>
                                <option value="PL">Polonia</option>
                                <option value="CN">Porcelana</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="GB">Reino Unido de Gran Bretaña e Irlanda del Norte</option>
                                <option value="CF">República Centroafricana</option>
                                <option value="CZ">República Checa</option>
                                <option value="DO">República Dominicana</option>
                                <option value="RW">Ruanda</option>
                                <option value="RO">Rumania</option>
                                <option value="RU">Rusia</option>
                                <option value="EH">Sahara Occidental</option>
                                <option value="KN">Saint Kitts y Nevis (Saint Kitts y Nevis)</option>
                                <option value="WS">Samoa (Samoa Occidental)</option>
                                <option value="AS">Samoa Americana</option>
                                <option value="SM">San Marino</option>
                                <option value="PM">San Pedro y Miquelón</option>
                                <option value="ST">San Tome y Principe</option>
                                <option value="VC">San Vicente y las Granadinas</option>
                                <option value="SH">Santa Elena</option>
                                <option value="LC">Santa Lucía</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leona</option>
                                <option value="SG">Singapur</option>
                                <option value="SY">Siria</option>
                                <option value="SO">Somalia</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="ZA">Sudáfrica</option>
                                <option value="SD">Sudán</option>
                                <option value="SE">Suecia</option>
                                <option value="CH">Suiza</option>
                                <option value="SR">Surinam</option>
                                <option value="SJ">Svalbard y Jan Mayen</option>
                                <option value="SZ">Swazilandia</option>
                                <option value="TH">Tailandia</option>
                                <option value="TW">Taiwán</option>
                                <option value="TZ">Tanzania</option>
                                <option value="TJ">Tayikistán</option>
                                <option value="IO">Territorio Británico del Océano Índico</option>
                                <option value="TF">Tierras Australes y Antárticas Francesas (TAAF)</option>
                                <option value="TL">Timor Oriental</option>
                                <option value="TK">Tochelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad y Tobago</option>
                                <option value="TM">Turkmenistán</option>
                                <option value="TC">Turks y Caicos</option>
                                <option value="TV">Tuvalu</option>
                                <option value="TN">Túnez</option>
                                <option value="UA">Ucrania</option>
                                <option value="UG">Uganda</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistán</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VA">Vaticano</option>
                                <option value="VE">Venezuela</option>
                                <option value="VN">Vietnamita</option>
                                <option value="VI">Vírgenes americanas, islas</option>
                                <option value="WF">Wallis y Futuna</option>
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabue</option>
                            </select>
                            {{!-- <input type="text" value="{{user.country}}" name="country" class="form-control"
                                required> --}}
                        </div>
                        <div class="mb-3 col-6">
                            <label for="exampleInputPassword1" class="form-label">Profesión</label>
                            <input type="text" value="{{user.profession}}" name="profession" class="form-control"
                                required>
                        </div>

                    </div>
                    <div class="mb-3 col-12">
                        <label for="exampleInputPassword1" class="form-label">Dirección</label>
                        <textarea name="address" rows="2" class="form-control" required
                            placeholder="Dirección">{{user.address}}</textarea>
                    </div>

                    <div class="mb-3 col-12">
                        <label for="exampleInputPassword1" class="form-label">Descripción</label>
                        <textarea name="description" rows="2" class="form-control" required
                            placeholder="Description">{{user.description}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>