<div class="container p-4 m-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card text-center border border-primary">
                <div class="card-body">

                    {{#if user.profile_image}}
                    <img class="card__image" src="/{{user.profile_image}}" loading="lazy" alt="User Profile">
                    {{else}}
                    <img src="/not-found-image.png" class="card__image" alt="..." alt="User Profile">
                    {{/if}}
                    <form action="/links//image-profile" method="POST" encType="multipart/form-data">
                        <h5 style="color: rgb(0, 140, 255);" class="m-2 text-uppercase">{{user.name}}</h5>
                        <p>Email: {{user.email}}</p>
                        <p>Descripción: {{user.description}}</p>
                        <h6 class="text-uppercase">Editar Foto:</h6>
                        <input type="file" name="sampleFile" accept="image/*" />
                        <input type="submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>