<div class="container p-4">
    <div class="col-md-12" style="margin-bottom: 5px;">
        <div class="card text-center">
            <h3 class="card-title text-uppercase" style="color: rgb(44, 142, 253);">
                Arquitectos
            </h3>
        </div>
    </div>
    <div class="row">
        {{#each users}}
        <div class="col-md-3 ">
            <div class="card " style="margin-bottom: 5px;">
                <div class="card-body">
                    <img style="height: 200px;"
                        src="https://scontent.fuio16-1.fna.fbcdn.net/v/t39.30808-6/271245470_4713960955385477_3820747920663544057_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=9goKyRvOgUAAX9fIapR&_nc_oc=AQn5GTUUQX5xaVugtQJGdDBieVVJtdriUYpr_K6Dy4FKIeucXpuMeMJ4GMFhrJkW9vEoxNdOvEbyuCyiEi1tSSJq&_nc_ht=scontent.fuio16-1.fna&oh=00_AT_3RO7IvpS2KIW-5XqH31cT1FA2JpC7GmGizEpxHETqFQ&oe=62420E44"
                        class="card-img-top" alt="...">
                    <p class="card-title text-uppercase text-center m-2" style="color: rgb(44, 142, 253);">
                        Nombre: {{name}}
                    </p>
                    <p class="m-2">Role: </p>

                    <p class="m-2">
                        Email: {{email}}
                    </p>
                    <p class="m-2">
                        Descripción: {{description}}
                    </p>
                    <p class="m-2 text-center">
                        {{timeago createnUsers}}
                    </p>
                    <a class="btn btn-danger" href="/links/delete/{{id}}">
                        Delete
                    </a>
                    <a class="btn btn-secondary" href="/links/edit/{{id}}">
                        Edit
                    </a>
                </div>
            </div>
        </div>
        {{else}}
                <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not Users saved yet.</p>
                <a href="/links/user">Create One!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>